html {
    font-size: 100px; /*640的设计稿中:1rem=100px*/
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /*让其宽高都是一屏,不出现滚动*/
}

body {
    position: relative;
    z-index: -3;
}

.loading, .phone, .message, .cube, .swiper {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*-- LOADING 两个文字是一个整体,进度条是一个整体,从中间向下上偏移--*/
.loading {
    background: #000;
}

.loading .title {
    position: absolute;
    height: 1.4rem;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -2.2rem;
    color: #FFF;
    letter-spacing: .04rem;
    text-align: center;
}

.loading .title h1 {
    height: .75rem;
    line-height: .75rem;
    font-size: .5rem;
    margin-bottom: .2rem;
}

.loading > .title > h2 {
    height: .45rem;
    line-height: .45rem;
    font-size: .26rem;
}

.loading > .progress {
    width: 4.6rem;
    height: .3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: .85rem 0 0 -2.3rem;
    background: #FFF;
    border-radius: 0.06rem;
}

.loading .progress em {
    display: block;
    width: 30%;
    height: 100%;
    background: green;
    border-radius: 0.06rem;

    background: -webkit-linear-gradient(45deg, #5CB85C 25%, #74C274 25%, #74C274 50%, #5CB85C 50%, #5CB85C 75%, #74C274 75%, #74C274 100%);
    background: linear-gradient(45deg, #5CB85C 25%, #74C274 25%, #74C274 50%, #5CB85C 50%, #5CB85C 75%, #74C274 75%, #74C274 100%);

    background-size: .3rem .3rem;
    -webkit-animation: loadingMove 1s linear infinite both;
    animation: loadingMove 1s linear infinite both;

    -webkit-transition: all 1s linear 0s;
    transition: all 1s linear 0s;

}

/*--PHONE--*/

.phone {
    background: url('../img/zf_phoneBg2.jpg');
    background-size: cover;
    z-index: -2;

    -webkit-transition: all .5s;
    transition: all .5s;

}

.phone audio {
    display: none;
}

.phone h2 {

    position: absolute;
    top: .5rem;
    left: 50%;
    margin-left: -1.31rem;
    width: 2.62rem;
    height: 1.25rem;
    color: white;
    font-size: .4rem;
}

.phone .time {
    display: none;
    position: absolute;
    top: 1.85rem;
    left: 0;
    width: 100%;
    height: .3rem;
    line-height: .3rem;
    text-align: center;
    color: white;
    font-size: .3rem;
    letter-spacing: .05rem;
}

.phone .listen {
    position: absolute;
    width: 5.2rem;
    height: 3.6rem;
    bottom: .3rem;
    left: 50%;
    margin-left: -2.6rem;
    background: url('../img/zf_phoneListen.png') no-repeat;
    background-size: 100% 100%;

}

.phone .listen div {

    box-sizing: border-box;
    position: absolute;
    right: -.06rem;
    bottom: .48rem;
    width: 1.6rem;
    height: 1.6rem;
    z-index: 5;
}

.phone .listen div .move {
    z-index: -1;
    border: .03rem solid #0F0;
    border-radius: 50%;
    -webkit-animation: phoneMove 1s linear infinite both;
    animation: phoneMove 1s linear infinite both;

}

.phone .details {
/ / display: none;

    position: absolute;
    bottom: .3rem;
    margin-left: -2.6rem;
    width: 5.2rem;
    left: 50%;
    height: 6.59rem;
    background: url('../img/zf_phoneDetail.png') no-repeat;
    background-size: 100% 100%;

    -webkit-transform: translateY(6.89rem);
    transform: translateY(6.89rem);

    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

.phone .details .touch {
    position: absolute;
    bottom: .28rem;
    left: 50%;
    z-index: 5;
    margin-left: -.8rem;
    width: 1.6rem;
    height: 1.6rem;
}

/*--MESSAGE--*/
.message {
    background: #EAEAEA;
/ / width: 100 %;

}

.message .messageList {
    margin-top: .2rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.message .messageList li {
    max-width: 3.6rem;
    padding: .25rem;
    margin-bottom: .4rem;
    line-height: .4rem;
    font-size: .26rem;
    border-radius: .1rem;
    position: relative;
    list-style-type: none;
    /*--开始让每条消息下移,透明,然后用电话控制,自己:能不能用top--*/
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;

}

.message .messageList li.student {
    float: left;
    background: #FFF;
    border: .02rem solid #CACACA;
    margin-left: 1.25rem;

}

.message .messageList li.teacher {
    float: right;
    background: #A2E45C;
    border: .02rem solid #96B474;
    margin-right: 1.25rem;

}

.message .messageList li em {
    position: absolute;
    top: .2rem;

    width: .1rem;
    height: .2rem;

}

/*--箭头暂时去掉了--*/
#message .messageList li.student em {
    left: -.1rem;
    background: url('../img/zf_messageArrow1.png') no-repeat;
    background-size: 100% 100%;
}

#message .messageList li.teacher em {
    right: -.1rem;
    background: url('../img/zf_messageArrow2.png') no-repeat;
    background-size: 100% 100%;
}

.message .messageList li img {
    width: .82rem;
    position: absolute;
    top: 0;
    height: .82rem;
    border-radius: 50%;
}

.message .messageList li.student img {
    left: -1rem;
}

.message .messageList li.teacher img {
    right: -1rem;
}

.message .keyboard {
    position: absolute;
    width: 100%;
    height: 5.16rem;
    background: url(../img/message_keyboard.jpg) no-repeat;
    background-size: 100% 100%;
    left: 0;
    bottom: -.54rem;

    -webkit-transform: translateY(3.7rem);
    transform: translateY(3.7rem);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.message .keyboard .textTip {
    position: absolute;
    width: 4rem;
    height: .4rem;
    top: .35rem;
    left: .9rem;
    font-size: .25rem;
    line-height: .4rem;
    display: none;
}

.message .keyboard .submit {
    display: none;
    position: absolute;
    right: .1rem;
    bottom: .6rem;
    z-index: 5;
    width: 1.47rem;
    height: .74rem;
    background: url('../img/message_submit.png') no-repeat;
    background-size: 100% 100%;
    border-radius: .1rem;
}

/*CUBE模块*/
.cube {
    perspective: 1000px;
    background: url("../img/cube_bg.jpg") no-repeat;
    background-size: cover;
}

.tip {
    position: absolute;
    bottom: .5rem;
    left: 50%;
    margin-left: -1.97rem;
    width: 3.94rem;
    height: .44rem;
    color: yellow;
    font-size: .4rem;
    text-align: center;
}

.cube .cubebox {
    width: 5.1rem;
    height: 5.1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2.55rem 0 0 -2.55rem;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform: scale(0.6) rotateX(-35deg) rotateY(45deg);
    transform: scale(0.6) rotateX(-35deg) rotateY(45deg);

    -webkit-transition: all .3s;
    transition: all .3s;
}

.cube .cubebox li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2.55rem 0 0 -2.55rem;
    list-style-type: none;
    border: .2rem inset lightsteelblue;
    border-radius: .2rem;
}

.cube .cubebox li span{
    position: absolute;
    text-align: center;
    width:50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 90%;
    color: darkslategrey;
    font-weight: bold;
    border: .2rem solid lightsteelblue;
    border-radius: .2rem;
}


.cube .cubebox li:nth-child(1) {
    background: #fccdd3;
    background-size: 100% 100%;
    -webkit-transform: translateZ(2.55rem);
    transform: translateZ(2.55rem);

}
/*后面,先移动再旋转,或者先旋转再移动(此时,视角z轴变化)*/
.cube .cubebox li:nth-child(2) {
    background: blanchedalmond;
    background-size: 100% 100%;
    -webkit-transform: rotateY(180deg) translateZ(2.55rem);
    transform:  rotateY(180deg) translateZ(2.55rem);

}

.cube .cubebox li:nth-child(3) {
    background:  #b0abc2;
    background-size: 100% 100%;
    -webkit-transform: rotateY(90deg) translateZ(2.55rem) ;
    transform: rotateY(90deg) translateZ(2.55rem) ;

}
/*左边*/
.cube .cubebox li:nth-child(4) {
    background: #c2d4d8;
    background-size: 100% 100%;
    -webkit-transform: rotateY(-90deg) translateZ(2.55rem) ;
    transform: rotateY(-90deg) translateZ(2.55rem) ;
}
/*下面*/

.cube .cubebox li:nth-child(5) {
    background:  #4488aa ;
    background-size: 100% 100%;
    -webkit-transform: rotateX(-90deg) translateZ(2.55rem) ;
    transform: rotateX(-90deg) translateZ(2.55rem) ;
}
/*上面*/
.cube .cubebox li:nth-child(6) {
    background: #54bbb4 ;
    background-size: 100% 100%;
    -webkit-transform: rotateX(90deg) translateZ(2.55rem) ;
    transform: rotateX(90deg) translateZ(2.55rem) ;
}


/*--技能:SWIPER--*/
.swiper .return {
    top:.2rem;
    width:.64rem;
    position: absolute;
    right:.2rem;
    height: .64rem;
    background: url('../img/return.png') no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    z-index:1000;
}

.swiper-container,.swiper-slide{
    width:100%;
    height:100%;
    position:relative;
    font-family: Microsoft JhengHei;
}

.page1 .goal{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    background: #8FBB4C;
    font-size: .28rem;
    width:79%;

    margin: 1rem 0 .6rem 0;
    padding: .15rem;
}
.page1 dl{
    position: absolute;
    width:5.4rem;
    height: 7.2rem;
    top:55%;
    left: 50%;
    margin: -3.6rem 0 0 -2.7rem;

    -webkit-transform-style:preserve-3d ;
    transform-style:preserve-3d ;
}

.page1 dl dd,.page1 dl dt{
    height: .6rem;
    line-height: .6rem;
    background: #8FBB4C;
}

.page1 dl dd a,.page1 dl dd em{
    position: relative;
    z-index: 1000;
}

.page1 dl dt{
    text-align: center;
    font-size: .4rem;
    color: yellow;
}

.page1 dl dd{
    position: relative;
    padding-left: .64rem;
    border-top: .04rem dashed rgba(255,255,255,0.3);
}

.page1 dl dd a{
    display: block;
    color:#000;
    font-size: .28rem;


    word-wrap: break-word;
    word-break: normal;
    white-space: normal;
}
.page1 dl dd em{
    position: absolute;
    left:.15rem;
    width: .36rem;
    height: .42rem;
    line-height: .42rem;
    text-align: center;
    top:.09rem;
    background-size: 100% 100%;
    background: url("../img/student_logo.png");
    color:#FFF;
    font-size: .2rem;
    font-style: normal;
}

/*工作经历2*/
.page5{
    background: #4488aa  ;
}

.page5 h2 {
    position: absolute;
    left:0;
    top:.8rem;
    width:100%;
    height:.9rem;
    line-height: .9rem;
    text-align: center;
    font-size: .5rem;
    font-weight: normal;
    color: #ffffff;
    opacity: 0;
    text-decoration: underline
}

.page5 .box {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 5.12rem;
    height: 5.8rem;
    margin: -2.9rem 0 0 -2.66rem;

}

.page5 .box img{
    position: absolute;
    width:1.4rem;
    height:1.4rem;
    top:50%;
    left:50%;
    margin:-.5rem 0 0 -.5rem;
    opacity: 0;
    border-radius: 15%;
}


.page5 .box img:nth-child(1) {
    width: 1.47rem;
    height: 1.47rem;
    margin: -.45rem 0 0 -.57rem;
    opacity: 1;
}

.page5 .booklist{
    position: absolute;
    font-size: .3rem;
    bottom: .35rem;
    left:50%;
    transform: translateX(-50%);
    color: #ffffff;
    width:85%;
    line-height: .47rem;
    border-radius: .2rem;
    border: .04rem solid #DDDFD4;
    padding: .15rem;

    opacity: 0;


   /* -webkit-animation: bounceInLeft .8s both;
    animation: bounceInLeft .8s both;*/
}



/*实现原理:把需要运动的元素以及设定的动画都放在#pageN下.这样的话以后只要给这个容器增加对应的pagen的id就可实现动画.id优先级高于class和类名的*/
#page5 .booklist {
    -webkit-animation: fadeIn 1.3s .3s both;
    animation: fadeIn 1.3s .3s both;
}
#page5 h2{
    -webkit-animation: bounceInLeft 1s both;
    animation: bounceInLeft 1s both;
}

#page5 .box img:nth-child(1){
    -webkit-animation: shake 1s both,pageShake .5s 1s infinite both;
    animation: shake 1s both,pageShake .5s 1s infinite both;
}

#page5 .box img:nth-child(2){
    -webkit-animation: page2Move1 .5s .5s both,page2Shake 1s 1s infinite both;
    animation: page2Move1 .5s .5s both,page2Shake 1s 1s infinite both;
}

#page5 .box img:nth-child(3){
    -webkit-animation: page2Move2 .5s .5s both,page2Shake 1s 1s infinite both;
    animation: page2Move2 .5s .5s both,page2Shake 1s 1s infinite both;
}


#page5 .box img:nth-child(4){
    -webkit-animation: page2Move3 .5s .5s both,page2Shake 1s 1s infinite both;
    animation: page2Move3 .5s .5s both,page2Shake 1s 1s infinite both;
}



#page5 .box img:nth-child(5){
    -webkit-animation: page2Move4 .5s .5s both,page2Shake 1s 1s infinite both;
    animation: page2Move4 .5s .5s both,page2Shake 1s 1s infinite both;
}


#page5 .box img:nth-child(6){
    -webkit-animation: page2Move5 .5s .5s both,page2Shake 1s 1s infinite both;
    animation: page2Move5 .5s .5s both,page2Shake 1s 1s infinite both;
}

#page5 .box img:nth-child(7){
    -webkit-animation: page2Move6 .5s .5s both,page2Shake 1s 1s infinite both;
    animation: page2Move6 .5s .5s both,page2Shake 1s 1s infinite both;
}



/*个人项目*/
.page2{
    background: blanchedalmond;
}

.page2 #page3title{
   /* position: absolute;
    width: 3.82rem;
    top:.5rem;
    left: 50%;
    margin-left: -1.91rem;*/
    text-align: center;
    font-size: .44rem;
    margin-top: .5rem;
    opacity: 0;

}
.page2 .box{
    position: absolute;
    top:.8rem;
    left: 50%;
    margin-left: -2.85rem;
    width:5.7rem
}

.page2 .box li{
    float:left;
    width:48%;
    margin: .2rem .052rem;
    height: 3rem;
    color:#000;
    font-size: .28rem;
    list-style-type: none;
}

/*.page3 .box li:nth-child(3n+2){
    margin: .2rem 2%;
}*/

.page2 .box li img {
    display: block;
    width:0.62rem;
    height: 0.62rem;
    border-radius: 15%;
    margin: 0.21rem auto;
    opacity: 0;
}

.page2 .box li .detail  {
    line-height: .47rem;
    word-break: break-all;
    opacity: 0;
    font-size: .3rem;
}
/*.page3 .box li .detail p:nth-child(1) {
    line-height: .5rem;
    text-align: center;
}

.page3 .box li .detail p:nth-child(2) {
    line-height: .32rem;
    text-align: left;
}*/

#page2 #page3title{
    -webkit-animation: bounceInLeft .8s both;
    animation: bounceInLeft .8s both;

}
/*技能图片*/
#page2 .box li:nth-child(1) img{
    -webkit-animation: bounceIn 1s .1s both;
    animation: bounceIn 1s .1s both;
}
#page2 .box li:nth-child(2) img{
    -webkit-animation: bounceIn 1s .2s both;
    animation: bounceIn 1s .1s both;
}

#page2 .box li:nth-child(3) img{
    -webkit-animation: bounceIn 1s .3s both;
    animation: bounceIn 1s .1s both;
}

#page2 .box li:nth-child(4) img{
    -webkit-animation: bounceIn 1s .4s both;
    animation: bounceIn 1s .1s both;
}

#page2 .box li:nth-child(5) img{
    -webkit-animation: bounceIn 1s .5s both;
    animation: bounceIn 1s .1s both;
}

#page2 .box li:nth-child(6) img{
    -webkit-animation: bounceIn 1s .6s both;
    animation: bounceIn 1s .1s both;
}

/*技能文字*/
#page2 .box li:nth-child(1) .detail{
    -webkit-animation: fadeIn 1s .1s both;
    animation: fadeIn 1s .1s both;
}
#page2 .box li:nth-child(2) .detail{
    -webkit-animation: fadeIn 1s .2s both;
    animation: fadeIn 1s .2s both;
}

#page2 .box li:nth-child(3) .detail{
    -webkit-animation: fadeIn 1s .3s both;
    animation: fadeIn 1s .3s both;
}

#page2 .box li:nth-child(4) .detail{
    -webkit-animation: fadeIn 1s .4s both;
    animation: fadeIn 1s .4s both;
}

#page2 .box li:nth-child(5) .detail{
    -webkit-animation: fadeIn 1s .5s both;
    animation: fadeIn 1s .5s both;
}

#page2 .box li:nth-child(6) .detail{
    -webkit-animation: fadeIn 1s .6s both;
    animation: fadeIn 1s .6s both;
}


/*工作2*/
.page4{
    background: #c2d4d8;
}
.page4 div{
    position: absolute;
    width: 90%;
    border-radius: .2rem;
    border: .07rem solid #DDDFD4;
    top:52%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: .13rem;
    opacity: 0;
}

.page4 p{
    font-size: .30rem;
    line-height: .5rem;
}
#page4 .work2{
    -webkit-animation: fadeIn 1.1s .1s both;
    animation: fadeIn 1.1s .1s both;
}





/*爱好*/
.page6{
    background: #54bbb4;
}

.page6 img{
    position: absolute;
    width:5rem;
    height:3rem;
    border:.07rem solid #FFF;

}
.page6 img:nth-child(1){
   left:13%;
    top:8%;
    -webkit-transform: rotate(9deg);
    transform: rotate(9deg);
}
.page6 img:nth-child(2){
    left:10%;
    top:25%;
    -webkit-transform: rotate(-9deg);
    transform: rotate(-9deg);
}
.page6 img:nth-child(3){
    left:17%;
    top:44%;
    -webkit-transform: rotate(9deg);
    transform: rotate(9deg);
}



.page6 .tip{
    position: absolute;
    bottom: 2rem;
    left:2rem;
    width:95%;
    font-size: .3rem;
    text-align: left;
    color:  navajowhite;
}
/*.page6 p:nth-child(2){
    top: 1.8rem;
    width: 5.5rem;
}*/
.page6 div span{
    color:darkgoldenrod;
    font-weight: 400;
    line-height: .4rem;
}




/*工作1*/
.page3{
    background: #b0abc2;

}

.page3 div{
    position: absolute;
    width: 90%;
    border-radius: .2rem;
    border: .07rem solid #DDDFD4;
    top:53%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: .14rem;
    opacity: 0;
}

.page3 p{
    font-size: .31rem;
    line-height: .52rem;
}

#page3 .work1{
    -webkit-animation: fadeIn 1.1s .1s both;
    animation: fadeIn 1.1s .1s both;
}
























